::-webkit-scrollbar
{
    width: 4px;
    height: 0px;
}
::-webkit-scrollbar-track-piece
{
    width: 4px;
    background: none;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:vertical
{
    width: 4px;
    height: 0px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    transition: .2s;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    transition: .2s;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 0, 0, 0.45)
}
img{vertical-align: middle;outline: 0;border: 0}
.header{ background: royalblue; color: #fff;}
.logo{ font-size: 24px;}
.ant-layout{ width: 100%;}
.ant-layout-sider-zero-width-trigger{ background: royalblue; width: 30px; right: -30px;}
.ant-layout-content{ display: flex; width: 100%; position: relative; transform:translate(0,0); overflow: hidden; /*align-items: center; justify-content: center;*/ background: #ccc; }
.ant-layout-content[data-full=true]{ background: #333;}
.layout-wrap{ position: absolute; padding: 50px; outline: 0; }
.fullscrren-btn{ position: absolute; font-size: 18px; bottom: 10px; left: 10px; }
.layout-wrap>.view{ background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==") #fff; position: static;}
.layout-wrap[data-grap=true]{cursor: -webkit-grab;}
.layout-wrap[data-grap=true]>.view{ pointer-events: none;}
.ant-layout-sider-zero-width-trigger{ z-index: 50;}
.ant-menu{ overflow-x: hidden; }
.ant-layout-sider-children{display: flex;flex-direction: column;}
.ant-input{min-width: 150px;}
.ant-layout-sider{ background: #fff;}
.ant-layout-footer{ padding: 20px 40px;}
.ant-collapse-content > .ant-collapse-content-box{ padding-bottom: 0;}
.customPanelStyle{background: #fff;border-radius: 4px; margin-top:24px;border: 0;overflow: 'hidden'}
.compItem{ cursor: default; white-space: nowrap; position: relative; overflow: hidden; user-select: none; padding: 5px; background: #f0f6ff; text-align: center; font-size: 12px;}
.compItem[data-dynamic=true]:after{ content: ''; position: absolute; right: 0; top: 0; border-color: royalblue royalblue transparent transparent; color: #fff; border-width: 5px; border-style: solid; }
.compItem:hover{color: royalblue; }
.card-container{ background: #f0f2f5; height: 100%;display: flex;flex-direction: column;}
.tab-container{ display: flex;flex-direction: column;flex: 1;}
.card-container > .ant-tabs-card > .ant-tabs-content {margin-top: -16px; height: 100%;}
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {background: #fff;padding: 16px; height: 100%; padding-bottom: 32px;overflow: auto;} 
.card-container > .ant-tabs-card > .ant-tabs-bar {border-color: #fff;}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab { border-color: transparent; background: transparent;}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {border-color: #fff;background: #fff;}
.divider{ display: flex; align-items: center;}
.divider span{ padding: 0 10px; font-size: 14px; color: rgba(0, 0, 0, 0.85);}
.divider::before{ content: ''; height: 1px; background: #e8e8e8; width: 20px;}
.divider::after{ content: ''; height: 1px; background: #e8e8e8; flex: 1;}
.form_pane{ padding-bottom: 10px; font-family: Consolas, Monaco, monospace;}
.form_pane .ant-select-selection,.ant-select-dropdown{ font-family: Consolas, Monaco, monospace;}
.form_pane .ant-form-item{ display: flex; height: 40px; margin-bottom: 0;}
.form_pane .ant-form-item-children{ display: flex; flex: 1; line-height: 0; align-items: center;}
.form_pane .ant-form-item-label{ min-width: 30px; overflow: visible;}
.form_pane .ant-input-number{ width: 100%}
.form_pane .ant-form-item-control-wrapper{ display: flex; align-items: center;}
.form_pane .ant-form-item-control{ flex: 1;}
.rc-color-picker-wrap.colorPicker{ display: block; }
.rc-color-picker-wrap.colorPicker .rc-color-picker-trigger{ display: block; border:0; border-radius: 0; padding: 0; height: 16px; transition: .3s background-color;}
.ant-form-item-control-wrapper{ flex: 1;}
.form_pane_row{ display: flex; align-items: center; height: 40px;line-height: 0;}
.ant-input-group-compact.inputGroup{ display: flex;}
.form-group-row{ width: 100%; display: flex; flex: 1; }
.form-group-row>*{ flex: 1; text-align: center;}
.font-bold{ font-weight: bold;}
.font-italic{ font-style: italic;}
.text-u{ text-decoration: underline}
.text-l{ text-decoration: line-through}
.text-o{ text-decoration: overline}
.font-bold[data-checked=true],.font-italic[data-checked=true]{ background: #ccc;}
.font-bold:focus,.font-italic:focus{ border-color: none; color: initial}
.url-preview{ padding:5px 10px; background: #f2f4f5; white-space: normal; word-break: break-word;}
.data-params{ padding-bottom: 5px;}
.data-params-hd{ display: block; line-height: 30px; font-style: italic;}
.data-params input{ min-width: auto;}
.data-params-bd{ display: flex;}
.data-params-bd .ant-input-group-wrapper{ flex:1; }
.form_pane>.ant-btn{ margin-right: 10px;}
.form_pane .ant-slider{ margin-right: 10px; margin-top: 10px; flex: 1;}
.flex-center{ display: flex; height: 100%; justify-content: center; align-items: center;}
.url-preview h5{ cursor: pointer; font-size: 14px; padding-top: 5px; color:royalblue;}
.url-preview h5:hover{ text-decoration: underline}
.my-notification{ transition: .3s transform; display: flex; flex-direction: column; transform: translateX(calc(100% + 20px)); max-height: calc(100% - 32px); position: fixed; top: 20px; right: 20px; z-index: 1010;width: 284px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);background: #fff; padding: 15px; border-radius: 4px;}
.my-notification-close{  position: absolute;right: 22px;top: 16px; color: rgba(0, 0, 0, 0.45);outline: none;}
.my-notification[data-show=true]{ transform: translateX(0); }
.pre-list{ flex: 1; overflow: auto; margin-right: -10px; padding-left: 0;}
.pre-list li{ list-style: none; cursor: -webkit-grab; padding: 5px; font-size: 12px; color: rgba(0, 0, 0, 0.85)}
.pre-list li:hover{ background: #f0f6ff; color: royalblue;}
.pre-list li strong{ background: #999; color: #fff; font-weight: normal; padding: 1px 4px; border-radius: 2px; margin-right: 5px;}
.tagView p{ padding: 10px; background: #f0f6ff; margin-top: 10px;}
.radiogroup-small .ant-radio-inner{ top: -2px; width: 14px;height: 14px;}
.radiogroup-small .ant-radio-inner:after{ left: 2px;top: 2px;}
.radiogroup-small .ant-radio-wrapper{ flex: 1; margin-right: 0;}
.radiogroup-small.ant-radio-group{ display: flex; flex: 1; margin-right: -8px;}
.ant-breadcrumb-link[data-current=true] a{ font-style: italic;color: royalblue; pointer-events: none;}